*{
  margin: 0;
  padding: 0;
}
.nav-prime{
  width: 100%;
  background-color: grey;
  color: #fff;
}
.nav-prime, .nav-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-content{
width: 50%;
}
h1{
  color: #fff;
}
.nav-menu{
  color: aliceblue;
}